.addCategoryForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff5f;
  padding: 20px;
  gap: 10px;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease forwards;
}

.addCategoryInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  color: #000;
}

.addCategoryInput:focus {
  border-color: #007bff;
}

.addCategoryButtons {
  text-align: right;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
