.profileContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.profileCard {
  background-color: #ffffff4c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* .profileTitle {
  font-size: 20px;
  color: #333;
  text-align: center;
} */

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.name {
  padding: 8px;
  font-size: 24px;
  color: #ffffff;
  background-color: rgba(122, 0, 0, 0.47);
  border-radius: 10px;
}

.email {
  padding: 8px;
  font-size: 18px;
  color: #ffffff;
  background-color: #a44b458e;
  border-radius: 10px;
}

.name:hover,
.email:hover {
  background-color: #7a0000;
  font-weight: bold;
  cursor: pointer;
}

/* .profileInfo p {
  font-size: 18px;
  color: #333;
} */

.logoutButton {
  margin-top: 20px;
  text-align: center;
}

.logoutButton button {
  padding: 10px 20px;
  background-color: #ff5a5f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton button:hover {
  background-color: #e34b4f;
}
